<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="main-container">
    <div class="steps-container">
      <div *ngFor="let item of steps; let stepIndex = index" class="wizard-item">
        <app-wizard-item [label]="item.label" [step]="item.step" [icon]="item.icon" [iconStep]="item.iconStep" [stepClass]="item.stepClass" [line]="item">
        </app-wizard-item>
      </div>
    </div>
</div>
