@import url('https://fonts.googleapis.com/css?family=Muli:700');
:root {
	--background-modal-color: #fff;
	--body-color: #fff;
	--color-timeline-default: #D2D3D8;
	--color-step-completed: #5C6174;
	--color-checkmark-completed: #fff;
	--color-in-progress: #13CB8F;
	--color-label-default: var(--color-timeline-default);
	--color-label-completed: var(--color-step-completed);
	--color-label-loading: var(--color-in-progress);
	--color-icon-completed: var(--color-step-completed);
	--color-icon-default: var(--color-timeline-default);
	&.dark-mode {
		--color-checkmark-completed: #fff;
		--background-modal-color: #5C6174;
		--color-timeline-default: #9799A3;
		--color-checkmark-completed: var(--background-modal-color);
		--body-color: #fff;
		--color-step-completed: #fff;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	background: var(--body-color);
	padding: 0;
	margin: 0;
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;

	.main-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 200ms ease;
		background: var(--background-modal-color);
		height: 220px;
		min-width: 100vh;
		flex-grow: 1;
		.steps-container {
			padding: 40px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
      .wizard-item {
        width: 100%;
        height: 0rem;
      }
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
